{% extends 'index.html' %}
{% load static %}
{% block content %}

                <!-- Page Content -->

                <div class="page-section bg-white border-bottom-2">
                    <div class="container page__container">

                        <div class="d-flex flex-column flex-md-row align-items-center align-items-md-start flex mb-16pt text-center text-md-left">
                            <div class="avatar overlay overlay--primary mb-16pt mb-md-0 mr-md-16pt">
                                <img src="{% static 'images/paths/sketch_40x40@2x.png' %}"
                                     class="avatar-img rounded"
                                     alt="lesson">
                                <div class="overlay__content"></div>
                            </div>
                            <div class="flex">
                                <h1 class="h2 measure-lead-max mb-16pt">Installing Python</h1>
                                <div class="d-flex align-items-center">
                                    <a href="teacher-profile.html"
                                       class="avatar avatar-sm mr-12pt">
                                        <img src="{% static 'images/people/50/guy-6.jpg' %}"
                                             alt="author"
                                             class="avatar-img rounded-circle">
                                    </a>
                                    <div class="mr-16pt">
                                        <a href="teacher-profile.html"
                                           class="card-title">Faisal Issaka</a>
                                        <div class="d-flex align-items-center">
                                            <small class="text-50 mr-2">3 days ago</small>
                                            <small class="text-50 mr-2">2 min read</small>
                                            <a href=""
                                               class="text-50"><small>Liked</small></a>
                                        </div>
                                    </div>
                                    <div>
                                        <a href=""
                                           class="text-50 d-flex align-items-center text-decoration-0">
                                            <i class="material-icons icon--left">favorite_border</i> 3</a>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="page-section border-bottom-2">
                    <div class="container page__container">

                        <div class="mb-24pt">
                            <a href=""
                               class="chip chip-outline-secondary">Python</a>
                            <a href=""
                               class="chip chip-outline-secondary">Coding</a>
                        </div>

                        <div class="d-flex flex-column flex-md-row align-items-md-center mb-16pt">
                            <div class="mb-16pt mb-md-0 mr-md-16pt">
                                <div class="rounded p-relative o-hidden overlay overlay--primary">
                                    <img class="img-fluid rounded"
                                         src="{% static 'images/paths/sketch_200x168.png' %}"
                                         alt="image">
                                    <div class="overlay__content"></div>
                                </div>
                            </div>
                            <div class="flex">
                                <p class="lead measure-paragraph-max">
                                    Python Programming is one of the popular languages among the programming languages.
                                    It is an interpreted language meaning that, it does not require any compilation
                                    process when running the program. The main process in running python codes is just
                                    hitting the <b>run</b> button or running it from the command line. This feature of
                                    the python programming language is performed by its interpreter.
                                </p>
                            </div>
                        </div>

                        <h4>Selecting your preferred Python Interpreter</h4>

                        <div class="d-flex flex-column flex-md-row mb-32pt">
                            <div class="flex mb-16pt mb-md-0 mr-md-16pt">
                                <p class="lead text-70 measure-paragraph-max">
                                    The python interpreter could be downloaded from the official website of the python
                                    programming language organization. There are two main stable releases of the python
                                    interpreter. They are:
                                    <ul>
                                        <li class="lead text-70 measure-paragraph-max">The Python 2.XX</li>
                                        <li class="lead text-70 measure-paragraph-max">The Python 3.XX</li>
                                    </ul>
                                </p>
                                <p class="lead text-70 measure-paragraph-max">
                                    <strong>Python 2.XX</strong> is the first release version of the Python interpreter
                                    and could be found pre-installed in some operating systems like the MAC OS
                                    (Operating System). The <strong>Python 3.XX</strong> is the latest and most stable
                                    release from the Python Programming language organization and has a huge community
                                    backing. The XX meaning the version of the Python 3 released. The latest version
                                    release of the Python 3.XX is <strong>Python 3.10</strong> and for Python 2.XX the
                                    latest version is <strong>Python 2.7.18</strong>.
                                </p>
                                <p class="lead text-70 measure-paragraph-max">
                                    A list of all Python releases can be viewed
                                    <a href="https://www.python.org/downloads/" style="color:blue;">here</a>
                                </p>
                            </div>
                            <div>
                                <div class="rounded p-relative o-hidden overlay overlay--primary">
                                    <img class="img-fluid rounded"
                                         src="{% static 'images/paths/invision_200x168.png' %}"
                                         alt="image">
                                    <div class="overlay__content"></div>
                                </div>
                            </div>
                        </div>

                        <h4>Downloading the Python Interpreter</h4>

                        <div class="d-flex flex-column flex-md-row mb-32pt">
                            <div class="flex mb-16pt mb-md-0 mr-md-16pt">
                                <p class="lead text-70 measure-paragraph-max">
                                    To download the Python interpreter on your PC, there are some steps to follow to get
                                    the correct installer.
                                </p>
                                <h5><u>STEP 1:</u></h5>
                                <p class="lead text-70 measure-paragraph-max">
                                    Check the Operating System you are installing on. Python is cross-platform hence
                                    could be used on all Operating System but their installations differ from each
                                    other.
                                </p>
                                <h5><u>STEP 2:</u></h5>
                                <p class="lead text-70 measure-paragraph-max">
                                    Check the processor type of the Operating System. The are two types of processors
                                    depending on the Operating System architecture. They are 64 bits OS and 32 bits OS.
                                    Operating System on 64 bits has better experience than the 32 bits. Softwares that
                                    runs on 32 bits OS can also run on 64 bits OS but softwares that are made
                                    specifically for 64 bits can't run on 32 bits OS.
                                </p>
                                <h5><u>STEP 3:</u></h5>
                                <p class="lead text-70 measure-paragraph-max">
                                    Check the type of Python interpreter that is favourable for the work you are using
                                    it for. Some versions may luck features which you may need in some specific area of
                                    application.
                                </p>
                                <p class="lead text-70 measure-paragraph-max">
                                    After treating the above steps, we can now download the version of our choice which
                                    is compatible for our OS. We can now head to <a
                                        href="https://www.python.org/downloads/" style="color:blue;">here</a> and
                                    download the Python Interpreter version.
                                </p>
                                <h4>Installation of the Downloaded Python Version</h4>
                                <p class="lead text-70 measure-paragraph-max">
                                    After downloading for the specific OS, we look at how to install it on the OS.
                                    On this page, Installation on windows will be treated and links will be provided to
                                    install for those on the other OS.
                                </p>
                                <h5><u>Installing Python on Windows</u></h5>
                                <p class="lead text-70 measure-paragraph-max">
                                    About 45.8% of Python Programmers use windows as written
                                    <a href="https://bit.ly/3kw386O" style="color:blue">here</a>, hence it
                                    very important to look at it installation on windows. There are a lot of ways to
                                    install Python on windows, our main focus will be on installing from an executable
                                    file downloaded from the
                                    <a href="https://www.python.org/downloads"><u>python official website.</u></a>
                                    Installing from an executable file is very simple.
                                    <ul>
                                        <li  class="lead text-70 measure-paragraph-max">
                                            <u>Double tap on the file to start installation process.</u>
                                        </li><br>
                                        <li>
                                            <img
                                                    alt="Python Installation"
                                                    src="{% static 'images/python/python_installer_1.png' %}"
                                                    width="100%"
                                                    height="100%"
                                                    style="text-decoration:none"
                                            >
                                        </li><br>
                                        <li  class="lead text-70 measure-paragraph-max">
                                            In the image above, there are two installation directories you can
                                            install python. The first being the default path and the second being the
                                            customize path. The default path is chose by the python installer and
                                            the customize path allows the use to install the software on the user's
                                            preferred location. <br>At the bottom path of the installer window is two
                                            checkboxes. The first checkbox when checked, installs the Python software
                                            for all users on the OS. The second checkbox when selected adds Python to
                                            the environment variables/path which makes it recognizable for other in
                                            built apps like the command prompt
                                        </li><br>
                                        <li class="lead text-70 measure-paragraph-max">
                                            Click on next after setting the preferred configurations to install the
                                            software.
                                        </li><br>
                                        <li   class="lead text-70 measure-paragraph-max">
                                            After installation, 2 softwares and 2 docs files is added to the OS.
                                            the two softwares are: IDLE, Python<br>
                                            And the two doc files are: Python manuals and Python module docs
                                        </li><br>
                                        <li  class="lead text-70 measure-paragraph-max">
                                            IDLE - is an in built editor to write and run python codes.<br>
                                            The Python software - is the interpreter that runs the codes.<br>
                                            Python manuals - is the official document for the version.<br>
                                            Python module docs - is the document for the in built modules.
                                        </li>
                                    </ul>
                                </p>
                                <p class="lead text-70 measure-paragraph-max">
                                    Okay great! So Python is installed successfully. To check that it is has been added
                                    to the system path, open command prompt and type python or python3.
                                </p>
                                <h5><u>Installing Python on Mac</u></h5>
                                <p class="lead text-70 measure-paragraph-max">
                                    Installing python on Mac is virtually same as that of windows.
                                </p>
                                <ul>
                                    <li  class="lead text-70 measure-paragraph-max">First Step is to visit
                                        <a href="https://www.python.org/downloads/" style="color:blue;">
                                        here</a> to download the software for the Mac OS.</li>
                                    <li  class="lead text-70 measure-paragraph-max">
                                        After the downloading process, you follow the installation process on the
                                        installer.
                                    </li>
                                </ul>
                                <h5><u>Installing Python on Linux</u></h5>
                                <p class="lead text-70 measure-paragraph-max">
                                    On linux, installation is by using a compressed file which contain the python
                                    software files.
                                </p>
                                <ul>
                                    <li  class="lead text-70 measure-paragraph-max">First Step is to visit
                                        <a href="https://www.python.org/downloads/" style="color:blue;">
                                        here</a> to download the compressed file for linux OS.</li>
                                    <li  class="lead text-70 measure-paragraph-max">
                                        Extract the contain into a preferred location on your system.
                                    </li>
                                    <li  class="lead text-70 measure-paragraph-max">
                                        Open the linux terminal and change directory to the Python directory.
                                        The following softwares should be installed: build essentials, bzip2, and
                                        SQLite or the Python installation will fail.
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <div class="rounded p-relative o-hidden overlay overlay--primary">
                                    <img class="img-fluid rounded"
                                         src="{% static 'images/paths/invision_200x168.png' %}"
                                         alt="image">
                                    <div class="overlay__content"></div>
                                </div>
                            </div>
                        </div>

                        <div class="measure-lead-max">

                            <div class="mb-8pt">
                                <div class="page-separator">
                                    <div class="page-separator__text">Author</div>
                                </div>

                                <div class="media align-items-center mb-16pt">
                                    <span class="media-left mr-16pt">
                                        <img src="{% static 'images/people/50/guy-6.jpg' %}"
                                             width="40"
                                             alt="avatar"
                                             class="rounded-circle">
                                    </span>
                                    <div class="media-body">
                                        <a class="card-title m-0"
                                           href="teacher-profile.html">Faisal Issaka</a>
                                        <p class="text-50 lh-1 mb-0">Instructor</p>
                                    </div>
                                </div>

                                <a href="teacher-profile.html"
                                   class="btn btn-white mb-24pt">Follow</a>
                            </div>

                            <div class="page-separator">
                                <div class="page-separator__text">Comments</div>
                            </div>

                            <div class="d-flex mb-24pt">
                                <a href=""
                                   class="avatar avatar-sm mr-12pt">
                                    <span class="avatar-title rounded-circle">LB</span>
                                </a>
                                <div class="flex">
                                    <div class="form-group">
                                        <label for="comment"
                                               class="form-label">Your comment</label>
                                        <textarea class="form-control"
                                                  name="comment"
                                                  id="comment"
                                                  rows="3"
                                                  placeholder="Type here to leave a comment ..."></textarea>
                                    </div>
                                    <button class="btn btn-outline-secondary">Post comment</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <!-- // END Page Content -->
        <script>
            (function() {
                'use strict';
                // ENABLE sidebar menu tabs
                $('.js-sidebar-mini-tabs [data-toggle="tab"]').on('click', function(e) {
                    e.preventDefault()
                    $(this).tab('show')
                })
                $('.js-sidebar-mini-tabs').on('show.bs.tab', function(e) {
                    $('.js-sidebar-mini-tabs > .active').removeClass('active')
                    $(e.target).parent().addClass('active')
                })
            })()
        </script>
{% endblock %}
